<!-- <section class="container-fluid bg-light p-5">
    <h3>Products List</h3>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Products</th>
                <th>Product Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of products">
                <td>{{c.mId}}</td>
                <td>{{c.mutualFundName}}</td>
            </tr>
        </tbody>
    </table>
</section> -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" routerLink="/home">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
      </ul>
      <span class="navbar-text">
        
            <a class="nav-link" routerLink="/home/logout">LOGOUT</a>
         
      </span>
    </div>
  </nav>

<section class="container-fluid bg-light p-5">
    <div class="text-center"><h3>MUTUALFUNDS LIST</h3></div>
<table class="table table-bordered table-dark">
    <thead class="thead-dark">
        
        <tr>
            <th>MutualFundId</th>
            <th>MutualFundName</th>
        </tr>      
    </thead>
    <tbody>
        <tr *ngFor="let c of mutualFunds">
            <td>{{c.mId}}</td>
            <td>{{c.mutualFundName}}</td>
        </tr>
    </tbody>
</table>
</section>

<div class="text-center">
    <button type="button" class="btn btn-primary" routerLink="/home">Back to Home</button>
  </div>